<div class="container">
        <form name="municipio">
            <h1>Añadir municipio</h1>
            <div class="row">
                <div class="col-2">
                    <label for="">Municipio:</label>
                </div>
                <div class="col-4">
                    <input type="text" required>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="">Municipio:</label>
                </div>
                <div class="col-4">
                    <input type="text" required>
                </div>
            </div>
            <div class="row">
                <button>Añadir</button>
            </div>
        </form>

        <form name="grado">
            <h1>Añadir Grado</h1>
            <div class="row">
                <div class="col-2">
                    <label for="">Grado:</label>
                </div>
                <div class="col-4">
                    <input type="text" required>
                </div>
            </div>
            <div class="row">
                <button>Añadir</button>
            </div>
        </form>

        <form name="asunto">
            <h1>Asunto</h1>
            <div class="row">
                <div class="col-2">
                    <label for="">Asunto:</label>
                </div>
                <div class="col-4">
                    <input type="text" required>
                </div>
            </div>
            <div class="row">
                <button>Añadir</button>
            </div>
        </form>
        
</div>