<app-menu-topbar></app-menu-topbar>
<div class="centrar" id="contenedor-principal">
    <div class="fondo">

        <div id="contenedor-1">
    
            <div>
                <div class="input-container">
                    <input id="input" required="" type="text" name="curp" [(ngModel)]="buscar.curp">
                    <label for="curp" class="label">Curp</label>
                    <div class="underline"></div>
                </div>
    
            </div>
            <div>
                <div class="input-container">
                    <input id="input" required="" type="text" name="Numerodeturno" [(ngModel)]="buscar.turno">
                    <label for="Numerodeturno" class="label">Numero de turno</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    
        <div id="contenedor-2">
    
            <div >
                <button (click)="validarTurno()">Buscar</button>
            </div>
            <div >
                <button (click)="hacerticket()">Crear Ticket</button>
            </div>
        </div>
    </div>
</div>