<button class="btn" (click)="home()">
  Home
</button>
<div class="login-box">
  <p>Login Admin</p>
  <form>
    <div class="user-box">
      <input required="" name="" type="text">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input [(ngModel)]="admin.password" [ngModelOptions]="{standalone: true}" required="" name="" type="password">
      <label>Password</label>
    </div>

  <div id="captcha" [hidden]="captcha">
    <re-captcha  (resolved)="resolved($event)" siteKey="6Ld2vTwlAAAAAOq2HOmphIqkqUM88LNbukDeX_mJ"></re-captcha>
  </div>
  <div [hidden]="!captcha">
      <a href="#" >
      
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>

  </div>
    
    
  </form>
  <div *ngIf="datosIncorrectos" class="alert alert-warning" role="alert">
    Datos incorrectos
  </div>
  <!-- <p>Don't have an account? <a href="" class="a2">Sign up!</a></p> -->
</div>